<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="Admins/admin_base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section>
		
		<div class="card mr-3 ml-3">
		
		<div class="card-body">
		
		<h1 class="text-center">Your Products</h1>
		
		
		<!-- search 
		
		<div class="search-container my-3">
		
		
		<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contacts" />
			
			<div class="search-result">
			
			<!--  result goes here \
		
			
			</div>
			
			
		
		</div>-->
		
		
	
		<div class="table-responsive">
		<table class="table table-hover ">
			  <thead class="thead-light ">
			    <tr>
			      <th scope="col">#ID</th>
			      <th scope="col">Name</th>
			      <th scope="col">Quantity</th>
			      <th scope="col">Type</th>
			      <th scope="col">Price</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			  
			  
			    <tr th:each="p : ${products}">
			    
			      <th scope="row" th:text="${'MP'+p.pId}">1</th>
			      
			      <td >
			      
			      <!--	<img src="" class="my_profile_picture" th:src="@{'/img/'+${c.image}}" alt="profile photo" />-->
			      
			       <span th:text="${p.pName}"></span></td>
			      
			      <td >
			      
			     <!-- <a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}">-->
			      
			      <span th:text="${p.pQuantity}"></span>
			      
			      
			      
			      </td>
			      
			      <td th:text="${p.pType}"></td>
			      
			      
			       <td th:text="${p.pPrice}"></td>
			      
			      <td>
			      
			      <a href="#" ><i class="fa fa-trash" aria-hidden="true"></i></a>
			            <form  class="mt-2">
			       <i class="fa fa-pencil-square" aria-hidden="true">
			       </form>
			       
			      
			     
			      </td>
			    </tr>
			   
			  
			  </tbody>
</table>

</div>
<!-- pagination part-->


		<nav aria-label="Page navigation example">
		
		  <ul class="pagination">
		  
		    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/admin/show_products/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
		   
		   
		   
		    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
		    
		
		    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
		  </ul>
		</nav>
				
		 
		
		</div>
		
		</div>
	</section>
</body>
</html>